/*----------------UltNoticias------------*/
.h2-noticias {
    background-color: gold;
    border: solid 3px rgb(33, 81, 214);
    color: rgb(33, 81, 214);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
  }
  
  
  /*-------FinUltNoticias---------*/